<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text = "${title}"></title>
</head>
<body>
<h1 th:text = "${wlc}"></h1>
Return to main, <a href="/">here</a><br />
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="dummy : ${dummies}">
        <td th:text="${dummy.id}"></td>
        <td th:text="${dummy.name}"></td>
    </tr>
</table>
<p th:unless="${dummies} and ${dummies.size()}"> There are no users in the db</p>
</body>
</html>